
<ion-content [fullscreen]="true">

    <!-- <app-header></app-header> -->
    <div class="div-home-principal">
      <div class="carousel div-home ">
        <div class="div-home-header fadeInDown">
          <div class="div-home-header-icono">
            <ion-icon class="home-header-icono" name="leaf-outline"></ion-icon>
          </div>
          <div class="home-header-botones">
            <ion-button class="header-botones" size="small">Iniciar sesión</ion-button>
          </div>
        </div>
        <div class="div-home-1 fadeInDown">
          <div class="div-home-1-contenido">
            <h1 class="home-1-h1">ENCUENTRA LOS MEJORES PRODUCTOS PARA TU SALUD</h1>
            <h4 class="home-1-h4">¡Explora y has tus pedidos ahora!</h4>
            <ion-button class="home-1-botones ionic-background-light ionic-color-primary " size="small">Buscar productos</ion-button>
          </div>
        </div>
      </div>
  
      <div class="div-home-2">
        <!-- <app-presentacion></app-presentacion> -->
        <div class="div-home-2-destacados">
          <div class="div-home-2-destacados-titulo">
            <div class="destacado-titulo-1">
              <ion-icon class="icon-titulo-1" name="star-half-outline"></ion-icon>
              <label class="color-primary label-titulo-1" for="">Más vendidos</label>
            </div>
            <div class="destacado-titulo-2">
  
              <label class="color-primary label-titulo-2" for="">Ver todos</label>
              <ion-icon class="icon-titulo-2" name="arrow-forward-outline"></ion-icon>
            </div>
          </div>
          <div class="div-home-2-destacados-productos">
            <div class="destacado-productos-lista">
              <div class="destacado-productos-lista-img">
                <img class="destacado-productos-img" src="../../../../assets/img/medicina-1.jpeg" alt="">
  
              </div>
              <div>
                <a class="home-2-a-productos" href="">ECOLMENA</a>
              </div>
              <div class="div-costo">
                <label class="home-2-costo" for="">S/ 15.00</label>
              </div>
              <div class="div-home-2-subtitulo">
                <label class="home-2-subtitulo color-secondary" for="">Bálsamo Labial Natural con Cera de Abeja</label>
              </div>
  
              <div>
                <ion-icon class="icon-disponible color-secondary" name="bag-check-outline"></ion-icon>
                <label class="home-2-subtitulo color-secondary" for="">Disponible</label>
              </div>
              <div class="div-home-2-boton">
                <ion-button class="home-2-boton ionic-background-tertiary" shape="round" size="small">Ver</ion-button>
              </div>
            </div >
            <div class="destacado-productos-lista">
              <div class="destacado-productos-lista-img">
                <img class="destacado-productos-img" src="../../../../assets/img/medicina-1.jpeg" alt="">
  
              </div>
              <div>
                <a class="home-2-a-productos" href="">ECOLMENA</a>
              </div>
              <div class="div-costo">
                <label class="home-2-costo" for="">S/ 15.00</label>
              </div>
              <div class="div-home-2-subtitulo">
                <label class="home-2-subtitulo color-secondary" for="">Bálsamo Labial Natural con Cera de Abeja</label>
              </div>
  
              <div>
                <ion-icon class="icon-disponible color-secondary" name="bag-check-outline"></ion-icon>
                <label class="home-2-subtitulo color-secondary" for="">Disponible</label>
              </div>
              <div class="div-home-2-boton">
                <ion-button class="home-2-boton ionic-background-tertiary" shape="round" size="small">Ver</ion-button>
              </div>
            </div >
            <div class="destacado-productos-lista">
              <div class="destacado-productos-lista-img">
                <img class="destacado-productos-img" src="../../../../assets/img/medicina-1.jpeg" alt="">
  
              </div>
              <div>
                <a class="home-2-a-productos" href="">ECOLMENA</a>
              </div>
              <div class="div-costo">
                <label class="home-2-costo" for="">S/ 15.00</label>
              </div>
              <div class="div-home-2-subtitulo">
                <label class="home-2-subtitulo color-secondary" for="">Bálsamo Labial Natural con Cera de Abeja</label>
              </div>
  
              <div>
                <ion-icon class="icon-disponible color-secondary" name="bag-check-outline"></ion-icon>
                <label class="home-2-subtitulo color-secondary" for="">Disponible</label>
              </div>
              <div class="div-home-2-boton">
                <ion-button class="home-2-boton ionic-background-tertiary" shape="round" size="small">Ver</ion-button>
              </div>
            </div >
            <div class="destacado-productos-lista">
              <div class="destacado-productos-lista-img">
                <img class="destacado-productos-img" src="../../../../assets/img/medicina-1.jpeg" alt="">
  
              </div>
              <div>
                <a class="home-2-a-productos" href="">ECOLMENA</a>
              </div>
              <div class="div-costo">
                <label class="home-2-costo" for="">S/ 15.00</label>
              </div>
              <div class="div-home-2-subtitulo">
                <label class="home-2-subtitulo color-secondary" for="">Bálsamo Labial Natural con Cera de Abeja</label>
              </div>
  
              <div>
                <ion-icon class="icon-disponible color-secondary" name="bag-check-outline"></ion-icon>
                <label class="home-2-subtitulo color-secondary" for="">Disponible</label>
              </div>
              <div class="div-home-2-boton">
                <ion-button class="home-2-boton ionic-background-tertiary" shape="round" size="small">Ver</ion-button>
              </div>
            </div >
            <div class="destacado-productos-lista">
              <div class="destacado-productos-lista-img">
                <img class="destacado-productos-img" src="../../../../assets/img/medicina-1.jpeg" alt="">
  
              </div>
              <div>
                <a class="home-2-a-productos" href="">ECOLMENA</a>
              </div>
              <div class="div-costo">
                <label class="home-2-costo" for="">S/ 15.00</label>
              </div>
              <div class="div-home-2-subtitulo">
                <label class="home-2-subtitulo color-secondary" for="">Bálsamo Labial Natural con Cera de Abeja</label>
              </div>
  
              <div>
                <ion-icon class="icon-disponible color-secondary" name="bag-check-outline"></ion-icon>
                <label class="home-2-subtitulo color-secondary" for="">Disponible</label>
              </div>
              <div class="div-home-2-boton">
                <ion-button class="home-2-boton ionic-background-tertiary" shape="round" size="small">Ver</ion-button>
              </div>
            </div >
            <div class="destacado-productos-lista">
              <div class="destacado-productos-lista-img">
                <img class="destacado-productos-img" src="../../../../assets/img/medicina-1.jpeg" alt="">
  
              </div>
              <div>
                <a class="home-2-a-productos" href="">ECOLMENA</a>
              </div>
              <div class="div-costo">
                <label class="home-2-costo" for="">S/ 15.00</label>
              </div>
              <div class="div-home-2-subtitulo">
                <label class="home-2-subtitulo color-secondary" for="">Bálsamo Labial Natural con Cera de Abeja</label>
              </div>
  
              <div>
                <ion-icon class="icon-disponible color-secondary" name="bag-check-outline"></ion-icon>
                <label class="home-2-subtitulo color-secondary" for="">Disponible</label>
              </div>
              <div class="div-home-2-boton">
                <ion-button class="home-2-boton ionic-background-tertiary" shape="round" size="small">Ver</ion-button>
              </div>
            </div >
  
  
            
  
          </div>
        </div>
      </div>
  
      <div>
        <app-footer></app-footer>
      </div>
    </div>

</ion-content>
