<div class="div-presentacion-inicio">
<!--   <ion-row style="width: 100%;">
    <ion-col size="12" [sizeLg]="6" [sizeMd]="6">
      <div class="div-titulo-presentacion fadeInDown">
        <div>
          <h6 class="h5-subtitulo color-principal" >BIENVENIDO</h6>
        </div>
        <div>
          <h1 class="h1-div-titulo-presentacion">ENCUENTRA TUS MEJORES PRODUCTOS PARA TU SALUD</h1>
        </div>
        <div>
        </div>

      </div>


    </ion-col>
    <ion-col size="12" [sizeLg]="6" [sizeMd]="6">
      <div class="div-imagen-presentacion fadeInDown">
        <img class="img-presentacion" src="../../../../assets/img/presentacion01.jpeg" alt="">
      </div>

    </ion-col>
  </ion-row> -->


</div>
<div class="div-presentacion">
  <div class="color-presentacion">
    <div>
      <span>IOS - ANDROID - WEB</span>
      <h3>HOLA, MI NOMBRE ES JEFFERSON,DESARROLLADOR DE APLICACIONES </h3>
      <ion-avatar class="logo-presentacion">
        <img src="../../../../assets/img/logo.jpeg" class="presentacion-img" />
      </ion-avatar>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore laboriosam quisquam quam illum tenetur quo soluta aliquid culpa iste quaerat, fuga quidem ab, reiciendis vel odit excepturi, quis harum sint.</p>
    </div>


  </div>
</div>
