<div class="div-footer">
  <div class="div-footer-informacion">
    <div class="div-footer-quienes">
      <h6>¿Quiénes somos?</h6>
      <p class="p-p1">Somos la primera botica peruana especializada en ofrecer productos naturales de belleza y salud procedentes de diversas regiones del Perú.</p>
      <p class="p-p2">Somos la primera botica peruana especializada en ofrecer productos naturales de belleza y salud procedentes de diversas regiones del Perú.</p>
    </div>
    <div class="div-footer-quienes">
      <h6>Contáctanos</h6>
      <div>
        <ion-icon class="icon-telefono" name="call-outline"></ion-icon>
        <label class="label-telefono" for="">966841797</label>
      </div>
      <div>
        <ion-icon class="icon-telefono" name="locate-outline"></ion-icon>
        <label class="label-telefono" for="">Ubícanos</label>
      </div>
    </div>
    <div class="div-footer-quienes">
      <h6>Servicios</h6>
      <div>
        <ion-icon class="icon-telefono" name="checkmark-outline"></ion-icon>
        <label class="label-telefono" for="">Delivery</label>
      </div>

    </div>
    <div class="div-footer-quienes">
      <h6>Síguenos en nuestra redes</h6>
      <div>
        <ion-icon class="icono-redes" name="logo-facebook"></ion-icon>
        <ion-icon class="icono-redes" name="logo-whatsapp"></ion-icon>
        <ion-icon class="icono-redes" name="logo-instagram"></ion-icon>
      </div>
    </div>
  </div>
  <div class="div-derechos">
    <label for=""></label>
  </div>
</div>